*{
  background: none;
}
.opacity-25{
  opacity: .25;
}
.opacity-75{
  opacity: .75;
}
.spinner {
	animation: rotateSpinner 800ms linear infinite;
}

@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}
.w-5{
  width: 1.25rem;
}
.h-5{
  height: 1.25rem;
}