/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body, html{
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

// Forms Inputs
input, select, textarea{
  background: white;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  outline: none;
}

//Cards
.card-primary{
  background: white;
}
.card-header{
  border-bottom: 2px solid #ebebeb;
}

//paddings
.p-0{
  padding: 0;
}
.pt-0{
  padding-top: 0;
}
.pl-0{
  padding-left: 0;
}
.pr-0{
  padding-right: 0;
}
.p-1{
  padding: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
.pt-1{
  padding-top: 1rem;
}
.pr-1{
  padding-right: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}

//margins
.m-1{
  margin: 1rem;
}
.mt-1{
  margin-top: 1rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mr-1{
  margin-right: 1rem;
}
.ml-1{
  margin-left: 1rem;
}

//Fonts
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}
.text-md{
  font-size: 1rem;
  line-height: 1.5rem;
}

//flex
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.align-center{
  align-items: center;
}

//grid
.grid{
  display: grid;
}
.col-1{
  grid-template-columns: repeat(1, 1fr);
}
.col-2{
  grid-template-columns: repeat(2, 1fr);
}
.gap-1{
  grid-gap: 1rem;
}
.gap-2{
  grid-gap: 2rem;
}

//others
.w-full{
  width: 100%;
}
.table-auto{
  table-layout: auto;
}
.overflow-auto{
  overflow: auto;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.whitespace-no-wrap{
  white-space: nowrap;
}

.table-primary{
  border-collapse: collapse;
  th{
    background: #f7f7f7;
    border-bottom: 2px solid #ebebeb;
    text-align: left;
  }
  tr{
    border-bottom: 1px solid #ebebeb;
    &:last-child{
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .md-p-2{
    padding: 2rem;
  }
  .md-col-2{
    grid-template-columns: repeat(2, 1fr);
  }
  .md-gap-2{
    grid-gap: 2rem;
  }
}